<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>WebFormsAdmin DB</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/css/normalize.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
	<link rel='shortcut icon' href='/images/favicon.ico' />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
	<script src="/javascripts/angularApp.js"></script>
	<script src="/javascripts/angularApp2.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	
  </head>

  <body ng-app="app">
    <div class="section">
			<nav class="navbar navbar-default navbar-fixed-top role="navigation"/>
				<div class="container-fluid">
					<div class="navbar-header">
						<img src='/images/Logo.png' height="50px" align="left" />
						<a class="navbar-brand" href="#">WebForms</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-user"></span>My profile</a></li>
						<li><a href="#">Help</a></li>				
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#"><b>Logged in as </b></a></li>
								<li><a href="#"><b>Log out</b></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
    </div></br></br></br>  
		<div class="container-fluid">
			<div class="section">
				<ul class="nav nav-tabs">
						<li><a href="/home"><span class="glyphicon glyphicon-home"></span>   Home</a></li>
						<li class="active"><a href="/AdminDatabase"><span class="glyphicon glyphicon-folder-open"></span>   Database</a></li>
						<li><a href="/CreateSurvey"><span class="glyphicon glyphicon-registration-mark"></span> CreateSurvey</a></li>
						<li><a href="/SubmitSurvey"><span class="glyphicon glyphicon-comment"></span>  SubmitSurvey</a></li>
				</ul>
			</div></br></br>

			<div class="section">
				<div class="col-md-3">
					<ul class="nav nav-pills nav-stacked">
							<li><a href="/AdminDatabase/register">Register New Employee</a></li>
							<li><a href="/AdminDatabase/viewUser">View Employee Details</a></li>
							<li><a href="#">Delete Employee</a></li>
						</ul>
				</div>

							
				<div class="col-md-9">
					<div>
						<div class="container-fluid" id="inside" style="border:1px solid #444242;"  id="register" ng-controller="registerCtrl">
							<h1>Edit Employee Details</h1>
							 <form class="form-horizontal" role="form" action="/AdminDatabase/viewUser/updateEmployee/<%= users._id %>" method="post">
								<div class="form-group">
									<label class="control-label col-sm-3" for="name">Employee Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="username" id="ename"  value="<%= users.username %>" >
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="id">Employee Id</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="eid" id="eid" value="<%= users._id %>">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="dob">Date of Birth</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"  name="dob" id="dob" value="<%= users.dateOfBirth%>">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="tp">Telephone No</label>
									<div class="col-sm-9">
										<input type="text" class="form-control"  name="tp" id="tp" value="<%= users.telephoneNo %>">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="address">Address</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="address" id="address" value="<%= users. address %>">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="email">Email</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="email" id="email" value="<%= users.email %>">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3" for="fbid">FB_Id</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" name="fbid" id="fbid" value="<%= users. fb_Id %>">
									</div>
								</div>
								
								<div class="form-group">
									<label class="control-label col-sm-3" for="pwd">Password</label>
									<div class="col-sm-9">
										<input type="Password" class="form-control" name="password" id="password" placeholder="Password">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-3" for="pwd">Repeat Password</label>
									<div class="col-sm-9">
										 <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Repeat Password"/>
										 <span id='message'></span>
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="submit" class="btn btn-default" onclick="updated()">Update</button>
									</div>
								</div>

							</form>
						</div>
						
				</div>
				</div>
				
			</div>
		</div>

		<script>
		function updated(){
		      swal({
				  title: "User updated",
				  text: "",
				  timer: 1500,
				  showConfirmButton: false
			});
		}
		</script>

		<script type="text/javascript">
						$('#confirm_password').on('keyup', function () {
					    if ($(this).val() == $('#password').val()) {
					        $('#message').html('matching').css('color', '#4FFF42');
					    } else $('#message').html('not matching').css('color', 'red');
					});
		</script>

		<script src="js/bootstrap.js"></script>
		<script src="js/jquery-2.0.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		 
  </body>
</html>
